@model IEnumerable<WebApplication1.Models.Statistics>

@{
    ViewData["Title"] = "Statystyki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Twoje statystyki z ostatniego miesiąca:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BestStat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BestStat)
                </td>
                <td>
                    @item.StartDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcerciseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionCount)
                </td>  
            </tr>
        }
    </tbody>
</table>
