@model List<WebApplication1.Models.Goals>

<h2>Lista Dodanych Celów</h2>

<p><a asp-action="Create" class="btn btn-primary">Utwórz Cel</a></p>

@if (Model.Any(g => g.GoalType == 1 || g.GoalType == 2))
{

    @if (Model.Any(g => g.GoalType == 1))
{
<table class="table">
    <thead>
        <tr>
            <th>Typ Celu</th>
            <th>Docelowy Ciężar</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in Model.Where(g => g.GoalType == 1))
        {
            <tr>
                <td>@goal.GetGoalTypeName()</td>
                <td>@goal.WeightGoal</td>
                <td>@goal.CreateDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <p></p>
}

    @if (Model.Any(g => g.GoalType == 2))
{
<table class="table">
    <thead>
        <tr>
            <th>Typ Celu</th>
            <th>Aktualna Masa</th>
            <th>Docelowa Masa</th>
            <th>Różnica</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in Model.Where(g => g.GoalType == 2))
        {
            <tr>
                <td>@goal.GetGoalTypeName()</td>
                <td>@goal.Mass</td>
                <td>@goal.MassGoal</td>
                <td>@((goal.MassGoal - goal.Mass)*-1)</td>
                <td>@goal.CreateDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
<p></p>
}
}
else
{
    <p>Brak dodanych celów.</p>
}
