@model IEnumerable<WebApplication1.Models.Session>

@{
    ViewData["Title"] = "Sesje treningowe";
}

<h1>Sesje treningowe</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SessionName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie dodano żadnych sesji trenignowych.</p>
}
<p><a asp-action="Create" class="btn btn-primary" style="margin-top: 10px">Utwórz sesję</a></p>