@model WebApplication1.Models.Exercise

@{
    ViewData["Title"] = "Usuwanie ćwiczenia";
}

<h1>Usuwanie</h1>

<h3>Czy jesteś pewny, że chcesz usunąć te ćwiczenie?</h3>
<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" style="margin-top:10px"/> |
        <a asp-action="Index" style="margin-top:10px">Wróć do listy ćwiczeń</a>
    </form>
</div>
