@model WebApplication1.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
